<h1>Merchants</h1>

<h2>Create New Merchant</h2>
<form method="post" action="/merchants">
  <label for="name">Merchant Name:</label>
  <input id="name" type="text" name="name" />
<input type="submit" value="create new merchant" name="submit"/>
<input hidden="true" name="url" value="/transactions" />
</form>
<br></br>


<h2>Total Spend by Merchant</h2>
<table>
  <tr>
    <% @merchants.each do |merchant| %>
    <th><%= merchant.name %></th>
    <%end%>
  </tr>
  <tr>
    <% @merchants.each do |merchant| %>
    <td><%= Transaction.transactions_by_merchant(merchant.id) %></td>
    <%end%>
  </tr>

</tr>
</table>
