<h1>Merchants</h1>

<h2>Create New Merchant</h2>
<form method="post" action="/merchants">
  <label for="name">Merchant Name:</label>
  <input id="name" type="text" name="name" />
<input type="submit" value="create new merchant" name="submit"/>
<br></br>


<table>
  <tr>
    <th>Merchants</th>
  </tr>
  <tr>
    <% for merchant in @merchants%>
    <td><%= merchant.name%></td>
    <% end %>
</tr>
</table>
