<div>
  <h2>Welcome to your personal budgeting app</h2>
</div>

<div class="front_page">
    <p>Your budget is £<%=@budget%></p>
    <p>Your current total spend is £<%=@total%></p>
    <p>Your remaining budget is £<%=@remaining_budget%></p>
</div>

<div class="warning">
<% if @remaining_budget <= 50%>
   <%="Attention!! Your Budget Is In Peril!!"%>
<%end%>
</div>
