<h1> Budget Buddy :) </h1>
<h2>Welcome to your personal budgeting app</h2>
<p>Your monthly budget is £<%=300%></p>
<p>Your current total spend is £<%=@total%></p>
<p>Your remaining budget is £<%=300 - @total%></p>
