<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css"/>
    <a href="/"> Home</a>  <a href="/transactions"> Transactions</a>  <a href="/tags">Tags</a>  <a href="/merchants"> Merchants</a>
    <meta charset="utf-8">
    <title>Budget Buddy</title>
  </head>
  <body>
    <h1>Budget Buddy :)</h1>

    <%= yield %>
  </body>
</html>
