<!DOCTYPE html>
<html>
  <a href="/"> Home</a>  <a href="/transactions"> Transactions</a>  <a href="/tags">Tags</a>  <a href="/merchants"> Merchants</a>
  <head>
    <meta charset="utf-8">
    <title>Budget Buddy</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
