<h1>Tags</h1>


<!--create new tag form  -->
<h2>Create New Tag</h2>
<form method="post" action="/tags">
  <label for="name">Tag Name:</label>
  <input id="name" type="text" name="name" />
<input class="btn" type="submit" value="create new tag" name="submit"/>
<br></br>


<h2>Total Spend by Tag</h2>
<table class="table">
  <tr>
    <% @tags.each do |tag| %>
    <th><%= tag.name %></th>
    <%end%>
  </tr>
  <tr>
    <% @tags.each do |tag| %>
    <td>£<%= Transaction.transactions_by_tag(tag.id) %></td>
    <%end%>
  </tr>
</tr>
</table>
