<h1>Tags</h1>

<h2>Create New Tag</h2>
<form method="post" action="/tags">
  <label for="name">Tag Name:</label>
  <input id="name" type="text" name="name" />
<input type="submit" value="create new tag" name="submit"/>


<table>
  <tr>
    <th>Tag</th>
  </tr>
  <tr>
    <% for tag in @tags%>
    <td><%= tag.name%></td>
    <% end %>
</tr>
</table>
